[submodule "preprocess_tumor_normal_bam"]
	path = preprocess_tumor_normal_bam
	url = https://github.com/mskcc-cwl/preprocess_tumor_normal_bam
[submodule "utils"]
	path = utils
	url = https://github.com/mskcc-cwl/utils
